.menu-search-page-header {
    background-color: white;
    color: black !important;
    font-size: 18px;
    border: none;
}
.menu-search-page-header .ant-menu-item {
    padding: 0 22px;
}
.menu-search-page-header .ant-menu-item span {
    color: black;
    font-weight: 500;
    border: none;
}

.btn-active {
    color: white;
    background-color: #f5002f;
    border-color: #f5002f;
}
.date-picker {
    padding-top: 4px;
    position: absolute;
}
.time-picker {
    width: 30px !important;
    padding-top: 4px;
    position: absolute;
}
